<!-- Costum Stylesheets-->
<link rel="stylesheet" href="../stylesheets/homeStylesheet.css">

<div class="mdl-grid mdl-cell--12-col portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col" id="mdl-card__costumized">
        <h1>Donate your work</h1>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      Seid ihr eine infrastrukturkritische Organisation oder Unternehmen und benötigen weitere helfende Hände, um diese Krise zu überstehen?
      Oder: Habt ihr aktuell keine Vorlesungen oder müsst in die Kurzarbeit und habt zusätzliche Kapazitäten sowie überflüssige Energie?

      <br>
      <br>
      Dann seid ihr hier genau richtig!
      Bietet eure Hilfe den verschiedenen Unternehmen an und spendet dadurch gleichzeitig noch einen Betrag an gemeinnützige Organisationen.
      Startet jetzt, tragt eure Daten ein und greift Hilfsbedürftigen unter die Arme!
    </div>


    <div class="mdl-cell mdl-cell--12-col">
        <ul class="mdc-list">
            <li class="mdc-list-item" tabindex="0">
            <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">Two-line item</span>
                <span class="mdc-list-item__secondary-text">Secondary text</span>
            </span>
            </li>
            <li role="separator" class="mdc-list-divider"></li>
            <li class="mdc-list-item">
            <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">Two-line item</span>
                <span class="mdc-list-item__secondary-text">Secondary text</span>
            </span>
            </li>
            <li role="separator" class="mdc-list-divider"></li>
            <li class="mdc-list-item">
            <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">Two-line item</span>
                <span class="mdc-list-item__secondary-text">Secondary text</span>
            </span>
            </li>
            <li role="separator" class="mdc-list-divider"></li>
        </ul>
    </div>
    

    <div class="mdc-list-group">
            <h3 class="mdc-list-group__subheader">List 1</h3>
            <ul class="mdc-list">
              <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__text">line item</span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
              </li>
            </ul>
            <h3 class="mdc-list-group__subheader">List 2</h3>
            <ul class="mdc-list">
              <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
              </li>
            </ul>
          </div>


    <div class="mdl-cell mdl-cell--12-col">
      <ul class="mdc-list" role="group" aria-label="List with checkbox items">
        <li class="mdc-list-item" role="checkbox" aria-checked="false">
          <span class="mdc-list-item__graphic">
            <div class="mdc-checkbox">
              <input type="checkbox"
                      class="mdc-checkbox__native-control"
                      id="demo-list-checkbox-item-1"  />
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark"
                      viewBox="0 0 24 24">
                  <path class="mdc-checkbox__checkmark-path"
                        fill="none"
                        d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
            </div>
          </span>
          <label class="mdc-list-item__text" for="demo-list-checkbox-item-1">Option 1</label>
        </li>
        <li class="mdc-list-item" role="checkbox" aria-checked="true" tabindex="0">
          <span class="mdc-list-item__graphic">
              <div class="mdc-checkbox">
                  <input type="checkbox"
                          class="mdc-checkbox__native-control"
                          id="demo-list-checkbox-item-2"
                          checked />
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                          viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path"
                            fill="none"
                            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
          </span>
          <label class="mdc-list-item__text" for="demo-list-checkbox-item-2">Option 2</label>
        </li>
        <li class="mdc-list-item" role="checkbox" aria-checked="false">
          <span class="mdc-list-item__graphic">
              <div class="mdc-checkbox">
                  <input type="checkbox"
                          class="mdc-checkbox__native-control"
                          id="demo-list-checkbox-item-3" />
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                          viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path"
                            fill="none"
                            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
          </span>
          <label class="mdc-list-item__text" for="demo-list-checkbox-item-3">Option 3</label>
        </li>
      </ul>
    </div>


    <div class="mdl-cell mdl-cell--12-col" align="left">
      <h2>Kontakt</h2>
      <form action="mailto:"
            method="post" enctype="text/plain">
          <div class="mdl-grid">
              <div class="mdl-cell--6-col" align="center">
                  <!-- Textfield with Floating Label (Name) -->
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="name_field"
                            name="Name" ng-bind="name">
                      <label class="mdl-textfield__label" for="name_field">Name</label>
                  </div>
              </div>
              <div class="mdl-cell--6-col" align="center">
                  <!-- Textfield with Floating Label (E-Mail) -->
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="email" id="e-mail_field"
                            name="E-Mail" ng-bind="email_address">
                      <label class="mdl-textfield__label" for="e-mail_field">E-Mail</label>
                      <span class="mdl-textfield__error">Bitte geben Sie eine korrekte E-Mail Adresse ein!</span>
                  </div>
              </div>
              <div class="mdl-cell--6-col" align="center">
                  <!-- Numeric Textfield with Floating Label (Telefon) -->
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="number_field"
                            name="Telefonnummer" ng-bind="phone_number">
                      <label class="mdl-textfield__label" for="number_field">Telefon</label>
                      <span class="mdl-textfield__error">Bitte geben Sie nur Zahlen ein!</span>
                  </div>
              </div>
              <div class="mdl-cell--6-col" align="center">
                  <!-- Textfield with Floating Label (Adresse) -->
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="address_field"
                            name="Adresse" ng-bind="address">
                      <label class="mdl-textfield__label" for="address_field">Adresse</label>
                  </div>
              </div>
              <div class="mdl-cell--12-col" align="center">
                  <!-- Textfield with Floating Label (Nachricht) -->
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input_field">
                      <input class="mdl-textfield__input" type="text" id="nachricht_field"
                            name="Nachricht" ng-bind="nachricht" maxlength="200">
                      <label class="mdl-textfield__label" for="nachricht_field">Nachricht</label>
                  </div>
              </div>
              <div class="mdl-cell--12-col" align="right">
                  <button class="mdl-button mdl-js-button senden_style">
                      Senden
                  </button>
              </div>
          </div>
      </form>
    </div>

</div>

  

<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">wirvsvirus hackathon</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>